<h1>My Books</h1>

<table class="table">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">ISBN</th>
  </tr>
  </thead>
  <tbody>
  <% for book in @books %>
    <tr>
      <td><%= book.id %></td>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.isbn %></td>
    </tr>
  <% end %>
  </tbody>
</table>

